:root {  
  --blue-grey-0: hsl(209, 61%, 16%);
  --blue-grey-1: hsl(211, 39%, 23%);
  --blue-grey-2: hsl(209, 34%, 30%);
  --blue-grey-3: hsl(209, 28%, 39%);
  --blue-grey-4: hsl(210, 22%, 49%);
  --blue-grey-5: hsl(209, 23%, 60%);
  --blue-grey-6: hsl(211, 27%, 70%);
  --blue-grey-7: hsl(210, 31%, 80%);
  --blue-grey-8: hsl(212, 33%, 89%);
  --blue-grey-9: hsl(210, 36%, 96%);  
}