:root {  
  --cool-grey-0: 210, 24%, 16%;
  --cool-grey-1: 209, 20%, 25%;
  --cool-grey-2: 209, 18%, 30%;
  --cool-grey-3: 209, 14%, 37%;
  --cool-grey-4: 211, 12%, 43%;
  --cool-grey-5: 211, 10%, 53%;
  --cool-grey-6: 211, 13%, 65%;
  --cool-grey-7: 210, 16%, 82%;
  --cool-grey-8: 214, 15%, 91%;
  --cool-grey-9: 216, 33%, 97%;
}