:root {  
  --light-blue--vivid-0: hsl(204, 96%, 27%);
  --light-blue--vivid-1: hsl(203, 87%, 34%);
  --light-blue--vivid-2: hsl(202, 83%, 41%);
  --light-blue--vivid-3: hsl(201, 79%, 46%);
  --light-blue--vivid-4: hsl(199, 84%, 55%);
  --light-blue--vivid-5: hsl(197, 92%, 61%);
  --light-blue--vivid-6: hsl(196, 94%, 67%);
  --light-blue--vivid-7: hsl(195, 97%, 75%);
  --light-blue--vivid-8: hsl(195, 100%, 85%);
  --light-blue--vivid-9: hsl(195, 100%, 95%);  
}