:root {  
  --orange-0: hsl(22, 83%, 19%);
  --orange-1: hsl(22, 80%, 26%);
  --orange-2: hsl(22, 79%, 31%);
  --orange-3: hsl(22, 74%, 38%);
  --orange-4: hsl(22, 71%, 45%);
  --orange-5: hsl(22, 78%, 55%);
  --orange-6: hsl(21, 83%, 64%);
  --orange-7: hsl(22, 92%, 76%);
  --orange-8: hsl(22, 100%, 86%);
  --orange-9: hsl(22, 100%, 95%);
}