:root {  
  --pink--vivid-0: 320, 100%, 19%;
  --pink--vivid-1: 322, 93%, 27%;
  --pink--vivid-2: 324, 93%, 33%;
  --pink--vivid-3: 326, 90%, 39%;
  --pink--vivid-4: 328, 85%, 46%;
  --pink--vivid-5: 330, 79%, 56%;
  --pink--vivid-6: 334, 86%, 67%;
  --pink--vivid-7: 336, 100%, 77%;
  --pink--vivid-8: 338, 100%, 86%;
  --pink--vivid-9: 341, 100%, 95%;  
}