:root {  
  --pink--vivid-0: hsl(320, 100%, 19%);
  --pink--vivid-1: hsl(322, 93%, 27%);
  --pink--vivid-2: hsl(324, 93%, 33%);
  --pink--vivid-3: hsl(326, 90%, 39%);
  --pink--vivid-4: hsl(328, 85%, 46%);
  --pink--vivid-5: hsl(330, 79%, 56%);
  --pink--vivid-6: hsl(334, 86%, 67%);
  --pink--vivid-7: hsl(336, 100%, 77%);
  --pink--vivid-8: hsl(338, 100%, 86%);
  --pink--vivid-9: hsl(341, 100%, 95%);  
}