:root {  
  --red--vivid-0: hsl(348, 94%, 20%);
  --red--vivid-1: hsl(350, 94%, 28%);
  --red--vivid-2: hsl(352, 90%, 35%);
  --red--vivid-3: hsl(354, 85%, 44%);
  --red--vivid-4: hsl(356, 75%, 53%);
  --red--vivid-5: hsl(360, 83%, 62%);
  --red--vivid-6: hsl(360, 91%, 69%);
  --red--vivid-7: hsl(360, 100%, 80%);
  --red--vivid-8: hsl(360, 100%, 87%);
  --red--vivid-9: hsl(360, 100%, 95%);
}