:root {  
  --red--vivid-0: 348, 94%, 20%;
  --red--vivid-1: 350, 94%, 28%;
  --red--vivid-2: 352, 90%, 35%;
  --red--vivid-3: 354, 85%, 44%;
  --red--vivid-4: 356, 75%, 53%;
  --red--vivid-5: 360, 83%, 62%;
  --red--vivid-6: 360, 91%, 69%;
  --red--vivid-7: 360, 100%, 80%;
  --red--vivid-8: 360, 100%, 87%;
  --red--vivid-9: 360, 100%, 95%;
}