:root {  
  --teal-0: 170, 97%, 15%;
  --teal-1: 168, 80%, 23%;
  --teal-2: 166, 72%, 28%;
  --teal-3: 164, 71%, 34%;
  --teal-4: 162, 63%, 41%;
  --teal-5: 160, 51%, 49%;
  --teal-6: 158, 58%, 62%;
  --teal-7: 156, 73%, 74%;
  --teal-8: 154, 75%, 87%;
  --teal-9: 152, 68%, 96%;
}