:root {  
  --cool-grey-0: hsl(210, 24%, 16%);
  --cool-grey-1: hsl(209, 20%, 25%);
  --cool-grey-2: hsl(209, 18%, 30%);
  --cool-grey-3: hsl(209, 14%, 37%);
  --cool-grey-4: hsl(211, 12%, 43%);
  --cool-grey-5: hsl(211, 10%, 53%);
  --cool-grey-6: hsl(211, 13%, 65%);
  --cool-grey-7: hsl(210, 16%, 82%);
  --cool-grey-8: hsl(214, 15%, 91%);
  --cool-grey-9: hsl(216, 33%, 97%);
}

hsl(42, 15%, 13%)
#27241D
hsl(40, 13%, 23%)
#423D33
hsl(37, 11%, 28%)
#504A40
hsl(41, 9%, 35%)
#625D52
hsl(41, 8%, 48%)
hsl(43, 13%, 90%)
#E8E6E1
hsl(41, 8%, 61%)
#A39E93
hsl(39, 11%, 69%)
#B8B2A7
hsl(40, 15%, 80%)
#D3CEC4
hsl(40, 23%, 97%)