:root {  
  --yellow--vivid-0: 15, 86%, 30%;
  --yellow--vivid-1: 22, 82%, 39%;
  --yellow--vivid-2: 29, 80%, 44%;
  --yellow--vivid-3: 36, 77%, 49%;
  --yellow--vivid-4: 42, 87%, 55%;
  --yellow--vivid-5: 44, 92%, 63%;
  --yellow--vivid-6: 48, 94%, 68%;
  --yellow--vivid-7: 48, 95%, 76%;
  --yellow--vivid-8: 48, 100%, 88%;
  --yellow--vivid-9: 49, 100%, 96%;
}