html {
    height: 100%;
    font-family: var(--font-default);
    font-size: 62.5%;
    font-weight: 400;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

body {    
    height: 100%;
    margin: 0;
    background-color: var(--neutral-8);
    color: var(--neutral-0);
    font-size: 1.6rem;
    overflow: hidden; 
}

h1, h2, h3, h4 {
    font-family: var(--font-header);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

input,
button,
textarea,
select {
    color: var(--neutral-0);
}