:root {  
  --primary-0-base: var(--light-blue--vivid-0);
  --primary-1-base: var(--light-blue--vivid-1);
  --primary-2-base: var(--light-blue--vivid-2);
  --primary-3-base: var(--light-blue--vivid-3);
  --primary-4-base: var(--light-blue--vivid-4);
  --primary-5-base: var(--light-blue--vivid-5);
  --primary-6-base: var(--light-blue--vivid-6);
  --primary-7-base: var(--light-blue--vivid-7);
  --primary-8-base: var(--light-blue--vivid-8);
  --primary-9-base: var(--light-blue--vivid-9);
  --primary-0: hsl(var(--primary-0-base));
  --primary-1: hsl(var(--primary-1-base));
  --primary-2: hsl(var(--primary-2-base));
  --primary-3: hsl(var(--primary-3-base));
  --primary-4: hsl(var(--primary-4-base));
  --primary-5: hsl(var(--primary-5-base));
  --primary-6: hsl(var(--primary-6-base));
  --primary-7: hsl(var(--primary-7-base));
  --primary-8: hsl(var(--primary-8-base));
  --primary-9: hsl(var(--primary-9-base));

  --secondary-0-base: var(--pink--vivid-0);
  --secondary-1-base: var(--pink--vivid-1);
  --secondary-2-base: var(--pink--vivid-2);
  --secondary-3-base: var(--pink--vivid-3);
  --secondary-4-base: var(--pink--vivid-4);
  --secondary-5-base: var(--pink--vivid-5);
  --secondary-6-base: var(--pink--vivid-6);
  --secondary-7-base: var(--pink--vivid-7);
  --secondary-8-base: var(--pink--vivid-8);
  --secondary-9-base: var(--pink--vivid-9);
  --secondary-0: hsl(var(--secondary-0-base));
  --secondary-1: hsl(var(--secondary-1-base));
  --secondary-2: hsl(var(--secondary-2-base));
  --secondary-3: hsl(var(--secondary-3-base));
  --secondary-4: hsl(var(--secondary-4-base));
  --secondary-5: hsl(var(--secondary-5-base));
  --secondary-6: hsl(var(--secondary-6-base));
  --secondary-7: hsl(var(--secondary-7-base));
  --secondary-8: hsl(var(--secondary-8-base));
  --secondary-9: hsl(var(--secondary-9-base));
  
  --neutral-0-base: var(--cool-grey-0);
  --neutral-1-base: var(--cool-grey-1);
  --neutral-2-base: var(--cool-grey-2);
  --neutral-3-base: var(--cool-grey-3);
  --neutral-4-base: var(--cool-grey-4);
  --neutral-5-base: var(--cool-grey-5);
  --neutral-6-base: var(--cool-grey-6);
  --neutral-7-base: var(--cool-grey-7);
  --neutral-8-base: var(--cool-grey-8);
  --neutral-9-base: var(--cool-grey-9);
  --neutral-0: hsl(var(--neutral-0-base));
  --neutral-1: hsl(var(--neutral-1-base));
  --neutral-2: hsl(var(--neutral-2-base));
  --neutral-3: hsl(var(--neutral-3-base));
  --neutral-4: hsl(var(--neutral-4-base));
  --neutral-5: hsl(var(--neutral-5-base));
  --neutral-6: hsl(var(--neutral-6-base));
  --neutral-7: hsl(var(--neutral-7-base));
  --neutral-8: hsl(var(--neutral-8-base));
  --neutral-9: hsl(var(--neutral-9-base));

  --error-0-base: var(--red--vivid-0);
  --error-1-base: var(--red--vivid-1);
  --error-2-base: var(--red--vivid-2);
  --error-3-base: var(--red--vivid-3);
  --error-4-base: var(--red--vivid-4);
  --error-5-base: var(--red--vivid-5);
  --error-6-base: var(--red--vivid-6);
  --error-7-base: var(--red--vivid-7);
  --error-8-base: var(--red--vivid-8);
  --error-9-base: var(--red--vivid-9);
  --error-0: hsla(var(--error-0-base));
  --error-1: hsla(var(--error-1-base));
  --error-2: hsla(var(--error-2-base));
  --error-3: hsla(var(--error-3-base));
  --error-4: hsla(var(--error-4-base));
  --error-5: hsla(var(--error-5-base));
  --error-6: hsla(var(--error-6-base));
  --error-7: hsla(var(--error-7-base));
  --error-8: hsla(var(--error-8-base));
  --error-9: hsla(var(--error-9-base));

  --warning-0-base: var(--yellow--vivid-0);
  --warning-1-base: var(--yellow--vivid-1);
  --warning-2-base: var(--yellow--vivid-2);
  --warning-3-base: var(--yellow--vivid-3);
  --warning-4-base: var(--yellow--vivid-4);
  --warning-5-base: var(--yellow--vivid-5);
  --warning-6-base: var(--yellow--vivid-6);
  --warning-7-base: var(--yellow--vivid-7);
  --warning-8-base: var(--yellow--vivid-8);
  --warning-9-base: var(--yellow--vivid-9);
  --warning-0: hsla(var(--warning-0-base));
  --warning-1: hsla(var(--warning-1-base));
  --warning-2: hsla(var(--warning-2-base));
  --warning-3: hsla(var(--warning-3-base));
  --warning-4: hsla(var(--warning-4-base));
  --warning-5: hsla(var(--warning-5-base));
  --warning-6: hsla(var(--warning-6-base));
  --warning-7: hsla(var(--warning-7-base));
  --warning-8: hsla(var(--warning-8-base));
  --warning-9: hsla(var(--warning-9-base));

  --success-0-base: var(--teal-0);
  --success-1-base: var(--teal-1);
  --success-2-base: var(--teal-2);
  --success-3-base: var(--teal-3);
  --success-4-base: var(--teal-4);
  --success-5-base: var(--teal-5);
  --success-6-base: var(--teal-6);
  --success-7-base: var(--teal-7);
  --success-8-base: var(--teal-8);
  --success-9-base: var(--teal-9);  
  --success-0: hsla(var(--success-0-base));
  --success-1: hsla(var(--success-1-base));
  --success-2: hsla(var(--success-2-base));
  --success-3: hsla(var(--success-3-base));
  --success-4: hsla(var(--success-4-base));
  --success-5: hsla(var(--success-5-base));
  --success-6: hsla(var(--success-6-base));
  --success-7: hsla(var(--success-7-base));
  --success-8: hsla(var(--success-8-base));
  --success-9: hsla(var(--success-9-base));
}
