:root {  
  --primary-0: var(--cyan-0);
  --primary-1: var(--cyan-1);
  --primary-2: var(--cyan-2);
  --primary-3: var(--cyan-3);
  --primary-4: var(--cyan-4);
  --primary-5: var(--cyan-5);
  --primary-6: var(--cyan-6);
  --primary-7: var(--cyan-7);
  --primary-8: var(--cyan-8);
  --primary-9: var(--cyan-9);
  
  --neutral-0: var(--blue-grey-0);
  --neutral-1: var(--blue-grey-1);
  --neutral-2: var(--blue-grey-2);
  --neutral-3: var(--blue-grey-3);
  --neutral-4: var(--blue-grey-4);
  --neutral-5: var(--blue-grey-5);
  --neutral-6: var(--blue-grey-6);
  --neutral-7: var(--blue-grey-7);
  --neutral-8: var(--blue-grey-8);
  --neutral-9: var(--blue-grey-9);
}
