.hover-box {
  @include box-shadow-md;

  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 6px;
  background-color: #fff;

  &__header {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: left;

    &--center {
      text-align: center;
    }
  }
}